.head-container {
    height: 50px;
    width: 100%;
    border-bottom: 1px solid grey;
}

.left-nav ul {
    float: left;
    list-style-type: none;
    margin-left: 100px;
}

.left-nav ul li {
    display: block;
    float: left;
    margin-left: 10px;
}

.left-nav ul li a {
    text-decoration: none;
    color: black;
}

.left-nav ul li a:hover {
    color: #80e3f5;
}

.right-nav ul {
    float: right;
    list-style-type: none;
    margin-right: 110px;
}

.right-nav ul li {
    display: block;
    float: right;
    margin-left: 10px;
}

.right-nav ul li a {
    text-decoration: none;
    color: black;
}

.right-nav ul li a:hover {
    color: #80e3f5;
}


.center-container {
    position: relative;
    width: 100%;
}

.center-container .image1 {
    opacity: 1;
    width: 100%;
    height: 550px;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.center-container .button1 {

    position: absolute;
    top: 45%;
    left: 44%;
    background-color: rgb(70, 66, 66);
    padding: 15px 32px;
    border: 1px solid #f1f1f1;
    cursor: pointer;

    color: white;
    font-size: 20px;
    text-align: center;

    font-family: sans-serif;
}

.center-container .button1:hover {

    border: 1px solid #80e3f5;
    color: #80e3f5;
    
}